.personal-page {
    position: relative;
    // z-index: 9999;
    // display: flex;
    .personal-page_wrapper {
        // width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }
}

.personal-outlet {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .personal-outlet-wrapper {
        width: 100%;
        max-width: 1250px;
    }
}
