   .edit-posts {
        .edit-posts-icon {
            cursor: pointer;
            svg {
                color: var(--color-icon);
                fill: var(--color-icon);
            }
            padding: 10px;
        }
    }